#Database
MYSQL_ROOT_PASSWORD=<your_root_password>
MYSQL_DATABASE=<your_database_name>
MYSQL_USER=<your_username>
MYSQL_PASSWORD=<your_password>

# Frontend
# Host port to expose Nginx on
FRONTEND_PORT=<your_frontend_port>
